@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,300&display=swap');

/* Define variables */
:root {
    --secondary10: #02524D;
    --secondary20: #22677C;
    --secondary30: #00B6AB;
    --secondary40: #20B1C9;
    --secondary50: #2CFFF2;
    --primary20: #00677D;
    --primary40: #20B1C9;
    --tertiary0: #FFA800;
  }

/* Get rid of default stuffs*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.bg {
    background-color: whitesmoke;
    background-repeat: repeat-y;
    background-image: url('../images/banner/background.png');
}

/* Header-top start */
.header-top {
    background-color: #22677C;
}

.header-top ul {
    list-style-type: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header-top-right {
    font-size: 14px;
}

/* Navigation bar start */
.btn-book-now {
    background-color: #41AFAA !important;
    border: #41AFAA !important;
    border-radius: 5px !important;
    font-weight: 600 !important;
    display: inline !important;
}

.navbar ul {
    list-style-type: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.nav-link-text {
    color: #00677D !important;
    font-weight: 600 !important;
}

.offcanvas-content {
    display: none;
}

@media (max-width: 991px) {
    .offcanvas-menu {
        width: 100vw !important;
    }

    .btn-book-now {
        padding: 2px 4px 2px 4px !important;
        background-color: #41AFAA !important;
        border: #41AFAA !important;
        border-radius: 5px !important;
        font-weight: 600 !important;
        display: inline !important;
    }

    .offcanvas-content {
        display: block;
    }

    .offcanvas-content hr#custom-color {
        border: 2px solid var(--primary40);
        color: var(--primary40);
    }

    .navbar .nav-item {
        margin-bottom: 6px;
    }
    
    .header-top{
        display: none;
    }

    .nav-link{
        margin-bottom: 4px !important;
    }
}

/* POP-UP start */
#modal-content1 {
    background-image: url('../images/banner/pop-up-background.png');
    background-repeat: no-repeat;
    background-color: whitesmoke;
    padding: 0 0 0 30px;
    background-size: 100% 100%;
    background-origin: content-box;
}

#modal-header1 {
    background-color: none;
    border: 0;
    font-family: "Kaushan Script", cursive;
    font-size: 30px;
    padding: 50px 30px 30px 0;
    text-align: center;
    display: inline-block;
    color: whitesmoke;
}

#modal-body1 {
    background-color: none;
    padding: 20px 150px 20px 120px;
}

#modal-footer1 {
    background-color: none;
    border: 0;
    text-align: center;
    display: inline-block;
}

#pop-up-button {
    padding-left: 35px !important;
    padding-right: 35px !important;
    background-color: whitesmoke !important;
    border: 1px solid black !important;
    font-family: "Montserrat", sans-serif;
    color: black;
    border-radius: 5px;
}

#pop-up-button-2 {
    padding-left: 35px !important;
    padding-right: 35px !important;
    background-color: #41AFAA !important;
    font-family: "Montserrat", sans-serif;
    border-radius: 5px;
    border: 0;
}

@media (max-width: 991px) {
    #modal-content1 {
        padding: 10px;
        background-image: none;
    }
    #modal-header1 {
        background-image: url('../images/banner/pop-up-background-mobile.png');
        background-repeat: no-repeat;
        background-size: 110% 160%;
        background-origin: content-box;
        padding: 10px 20px 30px 0;
    }
    #exampleModalLabel {
        margin-top: 20px;
    }
    #modal-body1 {
        background-color: none;
        padding: 0;
    }
    #modal-footer1 {
        padding: 0 0 20px 0;
    }
    #pop-up-button,
    #pop-up-button-2 {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }

    .footer-2 {
        padding: 20px !important;
        background-color: #00B6AB !important;
    }

    .collumn-2 {
        padding-left: 10px !important;
        width: unset !important;
    }
    .collumn-3 {
        padding-left: 32%;
        width: auto !important;
    }
    .master-container .row>* {
        width: auto !important;
    }

    .modified-input-footer {
        background-color: #00B6AB !important;
        color: white;
    }

    .modified-input-footer span {
        background-color: #00B6AB !important;
        color: white;
        border-right: 0;
    }

    .modified-input-footer input {
        background-color: #00B6AB !important;
        color: white;
        border-left: 0;
    }

    .subscribe{
        background-color: #025061;
        border-radius: 10px;
        padding: 8px 0;
    }
}

.pop-up-form {
    border: 0;
    border-bottom: 1px solid black;
    border-radius: 0;
    color: black !important;
    padding-left: 0 !important;
    background-color: whitesmoke;
}
/* HOME-PAGE start */
.head-img-container {
    max-width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    max-height: 100vh;
}
.banner-container-1 {
    max-width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    max-height: 100vh;
    z-index: 1;
}
.img-cruise {
    float: left;
    position: absolute;
    z-index: -1;
}
.head-text-1 {
    font-family: "Kaushan Script", cursive;
    font-size: 42px;
    color: white;
    margin: 435px 0 0 0;
}
.head-text-img {
    max-width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 80px 0 10px 5px;
}
.head-text-2 {
    font-family: "Kaushan Script", cursive;
    font-size: 42px;
    color: white;
    text-align: center;
}
.home-book-now-form {
    width: 90%;
    max-height: auto;
    border-radius: 20px;
    display: inline-block;
    background-color: white;
    padding: 20px 15px 20px 35px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 5;
}
.home-book-now-label {
    color: #02524D;
    font-family: "Montserrat", sans-serif;
    margin-left: 5px;
}
.home-book-now-input {
    max-width: 90%;
    border-radius: 20px;
    background-color: #D7E8E8;
    font-size: 13px;
}
.home-book-now-container {
    margin-top: 15px;
    text-align: center;
    width: 100%;
}
#book-now-form-5 {
    width: 45% !important;
    display: inline-block;
}
select>option.hidden_option {
    display: none;
}
.book-now-label-2 {
    opacity: 0;
}
/* BOOK-NOW button */
.button-24 {
    background: #FFA800;
    border: 1px solid #FFA800;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 900 !important;
    line-height: 12px;
    min-height: 32px;
    outline: 0;
    padding: 10px 18px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
}
.button-24:hover,
.button-24:active {
    background-color: initial;
    background-position: 0 0;
    color: #FFA800;
}
.button-24:active {
    opacity: .5;
}
/* FOOTER start */
.footer {
    background-color: white;
    z-index: 5;
    white-space: unset;
    line-height: unset;
}

.collumn-2 {
    padding-left: 80px;
}

.footer-1 {
    text-align: center;
    font-size: 14px;
    line-height: 40px;
    font-family: "Montserrat", sans-serif !important;
}
.footer-2 {
    padding: 40px 80px;
    max-width: 100%;
    background-color: #22677C;
    word-wrap: break-word;
    font-size: 13px;
    color: white;
}
.footer-icon-container {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
.footer-smol-texts {
    margin: 5px;
}
.montserrat {
    font-family: "Montserrat", sans-serif !important;
}
.patt {
    margin: 15px 0;
}

.patt .pat1 {
    text-decoration: none;
    color: black;
}

.patt .pat2 {
    text-decoration: none;
    color: white;
}

.modified-input-footer {
    background-color: #22677C;
    color: white;
}
.modified-input-footer span {
    background-color: #22677C;
    color: white;
    border-right: 0;
}
.modified-input-footer input {
    background-color: #22677C;
    color: white;
    border-left: 0;
}

.modified-input-footer ::placeholder {
    color: white;
}

.subscribe {
    text-decoration: none !important;
    color: white;
}