@page
@model web_demo_cong_viec.Pages.CruiseModel
@{
}

<link rel="stylesheet" href="~/css/cruise-css/cruise.css" />
<link rel="stylesheet" href="~/css/home.css" />

@* header start *@
<div class="head-img-container">
    <div class="row g-0">
        <div class="col-sm-5">
            <div class="head-text-1">Journey through the heart</div>
        </div>
        <div class="col-sm-7 head-text-img">
            <img src="~/images/banner/home-vector-1.png" width="100%" height="100%" />
        </div>
    </div>
    <div class="head-text-2">
        of a world heritage Lan Ha Bay
    </div>
</div>

<div class="head-img-container-mobile">
    <div class="head-text-mb">Journey through the heart of a world heritage Lan Ha Bay</div>
</div>

<div class="cotent-1">
    <img class="cruise-background" src="~/images/banner/the-cruise-background-1.png" alt="ERROR">

    <div class="row g-0">
        <!-- item-1 -->
        <div class="col content-container item-1 m-0 p-0">
            <img class="background-img item-1-img" id="item-1-img-1"
                src="~/images/banner/the-cruise-text-background.png" alt="ERROR">

            <img class="background-img item-1-img" id="item-1-img-2"
                src="~/images/banner/the-cruise-text-background.png" alt="ERROR">

            <div class="row cotent-items" id="item-1">
                <div class="col-12">
                    <h4>The Cruise</h4>
                    <p>
                        Lorem ipsum dolor sit amet consectetur.
                        Quisque
                        mi magna eget pulvinar commodo donec
                        diam.<br><br>

                        Adipiscing a ac bibendum massa diam aenean
                        tempus pellentesque. Quam praesent donec
                        enim
                        euismod duis lorem magna consequat molestie.
                        Quis sed quis.
                    </p>
                </div>

                <div class="col-12">
                    <h4>Sundeck</h4>
                    <p>
                        Lorem ipsum dolor sit amet consectetur.
                        Quisque
                        mi magna eget pulvinar commodo donec
                        diam.<br><br>

                        Adipiscing a ac bibendum massa diam aenean
                        tempus pellentesque. Quam praesent donec
                        enim
                        euismod duis lorem magna consequat molestie.
                        Quis sed quis.
                    </p>
                </div>
            </div>
        </div>

        <!-- item-2 -->
        <div class="col content-container item-2 m-0 p-0">
            <img id="item-2-img" src="~/images/banner/the-cruise-background-1-overlay.png" alt="ERROR">
        </div>

        <!-- item-3 -->
        <div class="col-12 content-container item-3">
            <img class="background-img" id="item-3-img-1" src="~/images/banner/the-cruise-text-background.png"
                alt="ERROR">

            <img id="item-3-img-2" src="~/images/banner/Mask group.png" alt="ERROR">

            <div class="cotent-items" id="item-3">
                <h4>Lorem ipsum dolor sit amet</h4>
                <p>
                    Lorem ipsum dolor sit amet consectetur. Quisque
                    mi
                    magna eget pulvinar commodo donec diam.<br><br>

                    Adipiscing a ac bibendum massa diam aenean
                    tempus
                    pellentesque. Quam praesent donec enim euismod
                    duis
                    lorem magna consequat molestie. Quis sed
                    quis.<br><br>

                    Lorem ipsum dolor sit amet consectetur. Quisque
                    mi
                    magna eget pulvinar commodo donec diam.<br><br>

                    Adipiscing a ac bibendum massa diam aenean
                    tempus
                    pellentesque. Quam praesent donec enim euismod
                    duis
                    lorem magna consequat molestie. Quis sed quis.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="content-2 border">
    <img class="cruise-background" src="~/images/banner/the-cruise-background-2.png" alt="ERROR">

    <div class="d-flex flex-container content-container-2">
        <div class="flex-items" id="flex-item-1">
            <h4>Safety</h4>
            <p>
                Lorem ipsum dolor sit amet consectetur. Quisque mi magna
                eget pulvinar commodo donec diam. Adipiscing a ac
                bibendum massa diam aenean tempus pellentesque. Quam
                praesent donec enim euismod duis lorem magna consequat
                molestie. Quis sed quis.<br><br>

                Lorem ipsum dolor sit amet consectetur. Quisque mi magna
                eget pulvinar commodo donec diam. Adipiscing a ac
                bibendum massa diam aenean tempus pellentesque. Quam
                praesent donec enim euismod duis lorem magna consequat
                molestie. Quis sed quis.
            </p>

            <img class="rounded" src="~/images/banner/the-cruise-image-1.png" alt="ERROR">
        </div>

        <div class="flex-items" id="flex-item-2">
            <img class="rounded" id="flex-item-2-img-1" src="~/images/banner/the-cruise-image-2.png" alt="ERROR">

            <img class="rounded" id="flex-item-2-img-2" src="~/images/banner/the-cruise-image-4.png" alt="ERROR">

            <img class="rounded" id="flex-item-2-img-3" src="~/images/banner/the-cruise-image-5.png" alt="ERROR">
        </div>

        <div class="flex-items" id="flex-item-3">
            <img class="rounded" id="flex-item-3-img-1" src="~/images/banner/the-cruise-image-3.png" alt="ERROR">

            <img class="rounded" id="flex-item-3-img-2" src="~/images/banner/the-cruise-image-6.png" alt="ERROR">

            <img class="rounded" id="flex-item-3-img-3" src="~/images/banner/the-cruise-image-7.png" alt="ERROR">
        </div>
    </div>
</div>
