@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@* header start *@
<section class="section-banner bg-banner space-nabar">
    <div class="box-banner-content">
        Journey through the heart <br> of a world heritage Lan Ha Bay
    </div>
</section>

<div class="head-img-container">
    <img src="~/images/banner/cruise.png" class="img-fluid img-cruise" alt="Cruise">
    <div class="row g-0">
        <div class="col-5">
            <div class="head-text-1" style="text-align:right;">Journey through the heart</div>
        </div>
        <div class="col-7 head-text-img">
            <img src="~/images/banner/home-vector-1.png" width="100%" height="100%" />
        </div>
    </div>
    <div class="row g-0">
        <div class="head-text-2">
            <div>of a world heritage Lan Ha Bay</div>
        </div>
    </div>
</div>

<div class="home-book-now-container">
    <form action="" method="post">
        <div class="home-book-now-form">
            <div class="row g-0" style="text-align: left !important;">
                <div class="col-2">
                    <div class="mb-3">
                        <label for="book-now-form-1" class="form-label home-book-now-label">Name</label>
                        <input type="text" class="form-control home-book-now-input" id="book-now-form-1"
                            placeholder="MiMi">
                    </div>
                </div>
                <div class="col-2">
                    <div class="mb-3">
                        <label for="book-now-form-2" class="form-label home-book-now-label">Email</label>
                        <input type="email" class="form-control home-book-now-input" id="book-now-form-2"
                            placeholder="mimi123@gmail.com">
                    </div>
                </div>
                <div class="col-2">
                    <div class="mb-3">
                        <label for="book-now-form-3" class="form-label home-book-now-label">Phone</label>
                        <input type="number" class="form-control home-book-now-input" id="book-now-form-3"
                            placeholder="0987654321">
                    </div>
                </div>
                <div class="col-2">
                    <label for="book-now-form-4" class="form-label home-book-now-label">Depature</label>
                    <input id="book-now-form-4" class="form-control home-book-now-input" type="date" />
                </div>
                <div class="col-2">
                    <div class="mb-3">
                        <label for="book-now-form-3" class="form-label home-book-now-label">Guests</label>
                        <div class="2-div-container">

                            <select id="book-now-form-5 " class="form-select home-book-now-input"
                                aria-label="Default select example"
                                style="width: 45% !important; display: inline-block;">
                                <option class="hidden_option" selected disabled>Adult</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>

                            <select id="book-now-form-5 " class="form-select home-book-now-input"
                                aria-label="Default select example"
                                style="width: 45% !important; display: inline-block;">
                                <option class="hidden_option" selected disabled>Kid</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>

                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <label for="" class="form-label home-book-now-label book-now-label-2">hajhasasa</label>
                    <button class="button-24" type="submit">BOOK NOW</button>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="banner-container-1">
    <img src="~/images/banner/home-lower-banner.png" class="img-fluid" alt="Cruise" height="100%" width="100%">
    <div>bulu bulu</div>
</div>
